/* GENERAL STYLES */
body {
  margin: 0;
  font-family: "Karla", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  color: white;
}

/* SECTION COLOURS & STYLING */
.one {
  background-color: #b5179f;
}
.two {
  background-color: #d0ff01;
  color: black;
}
.three {
  background-color: #fe006e;
}
.four {
  background-color: #69faff;
  color: black;
}
.five {
  background-color: #8338ec;
}

.section {
  /* General settings for each section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 200px;
}

.section-one {
  /* Specific section settings for ensuring full screen height for the tittle page */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b5179f;
  padding: 50px;
}

/* HEADING STYLES */
.main-heading {
  font-family: "Rubik Microbe", system-ui;
  font-size: 5rem;
  margin: 0 auto;
  font-weight: bold;
}

.sub-heading {
  font-family: "Rubik Mono One", monospace;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: underline;
}

.question-heading {
  font-family: "Space Mono", monospace;
  font-size: 1.1rem;
  font-weight: bold;
}

/* TABLE STYLING */
.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

td {
  padding: 20px;
  border: 1px solid red;
}

/* CONTENT LAYOUT */
.content1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  flex-wrap: wrap;
}

.text-side {
  flex: 1 1 70%;
}

.image-side {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-side img {
  max-width: 100%;
  height: auto;
  border: 2px dashed rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
}

/* IMAGE BOX STYLING */
.image-box {
  background-color: white;
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 2px dashed rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
  .text-side,
  .image-side {
    flex: 1 1 100%;
  }

  .text-side {
    text-align: center;
  }
}
