/* GENERAL STYLES */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  color: white;
}
.p-one {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/* SECTION COLOURS & STYLING */
.one {
  background-color: #b5179f;
}
.two {
  background-color: #d0ff01;
}
.three {
  background-color: #fe006e;
}
.four {
  background-color: #69faff;
}
.five {
  background-color: #8338ec;
}

.section {
  /* General settings for each section */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 200px;
}

.section-one {
  /* Specific section settings for ensuring full screen height for the tittle page */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #b5179f;
  padding: 50px;
}

/* HEADING STYLES */
.main-heading {
  font-size: 2.5rem;
  font-weight: bold;
}

.sub-heading {
  font-size: 1.8rem;
  font-weight: bold;
}

.question-heading {
  font-size: 1rem;
  font-weight: bold;
}

/* TABLE STYLING */
.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  color: red;
  font-size: 1rem;
  font-weight: bold;
}

td {
  padding: 20px;
  border: 1px solid red;
}

/* CONTENT LAYOUT */
.content1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: left;
  gap: 20px;
  max-width: 800px;
  text-align: left;
}

.content2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
  align-items: right;
  gap: 20px;
  max-width: 800px;
  text-align: right;
}

/* IMAGE BOX STYLING */
.image-box {
  background-color: white;
  color: red;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 2px solid red;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
}
